* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
    font-size: 36px;
    color: #fff;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
}
.bg:hover {
    background-color:tomato;
}

.square {
    width: 60px;
    height: 60px;
    border: 3px solid black;
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    transform: translateX(-50%);
    cursor: pointer;
    
}

.red {
    background-color: tomato;
    position: absolute;
    margin-left: 20%;
}
.blue {
    background-color: royalblue;
    position: absolute;
    margin-left: 40%;
}

.green {
    background-color: greenyellow;
    position: absolute;
    margin-left: 60%;
}

.gold {
    background-color: gold;
    position: absolute;
    margin-left: 80%;
}