* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 80px;
    font-size: 36px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #045de9;
    background-image: -moz-linear-gradient(aqua);
}

/*pare przykladow edycji tekstu*/
p{
    color: gold;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
    letter-spacing: 2px;
    word-spacing: 30px;
    line-height: 200px;
    text-shadow: 5px 5px 5px floralwhite;
}
a{
    color: white;
    text-decoration:none;
}
/*ta klasa bedzie z malych liter*/
.small{
    text-transform: lowercase;
}
/*ta klasa bedzie z duzych liter*/
.big {
    text-transform: uppercase;

}
/*ta klasa bedzie miala wyrazy zaczynajace sie na duzą litere*/
.text{
    text-transform: capitalize;

}